<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://projetovendas.no-ip.org:3306/Vendas?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">Sistema</property>
    <property name="hibernate.connection.password">sistema975</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="Controle/Cliente.hbm.xml"/>
    <mapping resource="Controle/Faltas.hbm.xml"/>
    <mapping resource="Controle/Vendas.hbm.xml"/>
    <mapping resource="Controle/Produto.hbm.xml"/>
    <mapping resource="Controle/Gastos.hbm.xml"/>
    <mapping resource="Controle/Acesso.hbm.xml"/>
    <mapping resource="Controle/Parcela.hbm.xml"/>
    <mapping resource="Controle/PedidoEstoque.hbm.xml"/>
    <mapping resource="Controle/ProdVenda.hbm.xml"/>
    <mapping resource="Controle/Funcionario.hbm.xml"/>
    <mapping resource="Controle/ImagemProduto.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
